extends layout

block content
    h1=homefield.name
    if homefield.yelp.image_url
        img(src=homefield.yelp.image_url style={width: "150px", height: "150px"}).col-3
    else
        img(src="https://amerikicklanghorne.com/wp-content/uploads/2017/04/default-image.jpg" style={width: "150px", height: "150px"}).col-3