extends layout

block content
  h4 Homefields
  each homefield in homefields
    a(href=homefield.url).row.border-bottom.team_listing
      if homefield.yelp.image_url
        img(src=homefield.yelp.image_url style={width: "150px", height: "150px"}).col-3
      else
        img(src="https://amerikicklanghorne.com/wp-content/uploads/2017/04/default-image.jpg" style={width: "150px", height: "150px"}).col-3
      div.col
        h3.team_listing_name=homefield.yelp.name