extends layout
block scripts
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 75%;
        width: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }

block content
    h1 Choose your team
    form(action="", method="GET")
      select(name="team_id")
        for team in teams
          option(value=team.id) #{team.name}
      button Submit
    #map
    script
      include ../js/maps.js

block lastScripts
    
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA9-FUr9JaJIXDczsR3T_FeBv36yrM73w&callback=initMap" async="" defer="")
