extends layout
block scripts
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 500px;
        width: auto;
      }

block content
    h3 Find the best place to watch your team.
    form(action="", method="GET")
      div.input-group
        select.custom-select(name="team_id")
          for team in teams
            option(value=team.id) #{team.name}
        button.waves-effect.waves-light.btn.green
          span Find Homefields
    #map
    script
      include ../public/js/maps.js

block lastScripts
    
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQtzTa4vjQiC2KGAZStPGiD6MHhRLZwRo&callback=initMap" async="" defer="")
