//- layout.pug
html
  head
    title My Site - #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    style
      include ../public/css/main.css
    block scripts
  body
    nav.navbar.navbar-dark.bg-dark
        div.container-fluid
            div.navbar-header.container
                div.row.justify-content-between
                    div.col-4
                        a(href='/').navbar-brand Sports Town
                    div.col-4
                        nav.justify-content-end
                            if user
                                a.btn(href="/homefield/create") Add a homefield
                            else
                                a.btn(href="/auth/login") Login

    div.container
        block content
        block lastScripts
        block foot
            #footer
            if user && user.admin === true
              a(href="/team") Teams
              a(href="/homefield") Homefields
              a(href="/sport") Sports 
            if user
              a(href="/auth/logout") logout
            p Sportstown built by 
              a(href="http://www.twitter.com/theAdamUpchurch") Adam Upchurch