//- layout.pug
html
  head
    title My Site - #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")  
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    style
      include ../public/css/main.css
    block scripts
  body.container
    nav.red
      .nav-wrapper
        a.logo(href='/') SPORTSTOWN
        ul.right.ride-on-med-and-down
          if user
              li 
                a.waves-effect.waves-light.btn.blue(href="/homefield/create") Add a homefield
          else
              li 
                a.waves-effect.waves-light.btn.blue(href="/auth/google") Google Login

    div.container
        block content
        block lastScripts
        block foot
            #footer
            if user
              li 
                a.waves-effect.waves-light.btn.blue(href="/team/create") Request a team
              li
                a.waves-effect.waves-light(href="/auth/logout") Log out
            if user && user.admin === true
              li
                a(href="/team") Teams
              li
                a(href="/homefield") Homefields
            p Sportstown built by 
              a(href="linktr.ee/aupchurch") Adam Upchurch