extends layout
block scripts

block content
    .login-box
        h3 Social Login Button
        a.social-button#Google-connect(href="/auth/google")
            span Connect with Google
        a.social-button#facebook-connect
            span Connect with Facebook - coming
        a.social-button#Twitter-connect
            span Connect with Twitter - coming