extends layout

block content
  h1 Submit your spot
  if spots
    ul
      each spot in spots
        li=spot.name
  else 
    form(action="/search", method="post")
      input(type='text' name="location" placeholder="City, State or Zip")
      input(type='text' name="term" placeholder="name of spot")
      button Search