extends layout

block content
  h1 Spots
  each spot in spots
    div.row.border-bottom
      img(src=spot.yelp.image_url style={width: "150px", height: "150px"}).col-3
      div.col
        h3=spot.yelp.name