extends layout

block content
  h1 Teams
  each team in teams
    a(href=team.url).row.border-bottom
      if team.img
        img(src=team.img style={width: "150px", height: "150px"}).col-3
      else
        img(src="https://amerikicklanghorne.com/wp-content/uploads/2017/04/default-image.jpg" style={width: "150px", height: "150px"}).col-3
      div.col
        h3=team.name