@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
:root {
  --color-primary: #F44336;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-shadow-dark: 0 2rem 6rem rgba(0,0,0, 0.3);
}

body {
  background: #002540;
}

h3 {
  color: white !important;
}

p {
  color: white;
}

.logo {
  font-family: "Anton", sans-serif;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 3.1rem;
  padding: 0;
  margin-left: 10px;
}
.input-field {
  color: #002540;
  background-color: white;
}

.logo:hover {
  text-decoration: none;
  font-size: 3.2rem;
  color: var(--color-grey-light-1);
  opacity: 0.9;
  
}

h4 {
  font-family: "Anton", sans-serif;
  color: var(--color-grey-light-1);
}

button span {
  margin-left: 10px;
}
button span:hover {
  margin-left: 10px;
  color: white;
}

.button {
  height: 34px;
  background-color: var(--color-primary);
  box-shadow: 5px 5px white;
}

.button:hover {
  color: white;
  background-color: var(--color-primary);
  box-shadow: 3px 3px white;
}

.custom-select {
  margin-right: 10px;
  border-radius: 2px;
}

#footer {
  padding-top: 50px;
}

.listing {
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}

#map {
  height: 50%;
  width: 100%;
  /* box-shadow: 5px 5px var(--color-primary); */
}

.card-text {
  color: var(--color-grey-dark-1);
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: white none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#facebook-connect {
  background: white url("https://eswarasai.com/projects/social-login/img/facebook.svg") no-repeat scroll 5px 0px/30px 50px padding-box border-box;
  border: 1px solid #3c5a9a;
}

#facebook-connect:hover {
  border-color: #3c5a9a;
  background: #3c5a9a url("https://eswarasai.com/projects/social-login/img/facebook-white.svg") no-repeat scroll 5px 0px/30px 50px padding-box border-box;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-out;
}

#facebook-connect span {
  box-sizing: border-box;
  color: #3c5a9a;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none white;
  outline: white none 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#facebook-connect:hover span {
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#google-connect {
  background: white url("https://eswarasai.com/projects/social-login/img/google-plus.png") no-repeat scroll 5px 0px/50px 50px padding-box border-box;
  border: 1px solid #dc4a3d;
}

#google-connect:hover {
  border-color: #dc4a3d;
  background: #dc4a3d url("https://eswarasai.com/projects/social-login/img/google-plus-white.png") no-repeat scroll 5px 0px/50px 50px padding-box border-box;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-out;
}

#google-connect span {
  box-sizing: border-box;
  color: #dc4a3d;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none #dc4a3d;
  outline: white none 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#google-connect:hover span {
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#twitter-connect {
  background: white url("https://eswarasai.com/projects/social-login/img/twitter.png") no-repeat scroll 5px 1px/45px 45px padding-box border-box;
  border: 1px solid #55acee;
}

#twitter-connect:hover {
  border-color: #55acee;
  background: #55acee url("https://eswarasai.com/projects/social-login/img/twitter-white.png") no-repeat scroll 5px 1px/45px 45px padding-box border-box;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-out;
}

#twitter-connect span {
  box-sizing: border-box;
  color: #55acee;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none #dc4a3d;
  outline: white none 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#twitter-connect:hover span {
  color: #FFF;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-homefield-button {
  /* background-position: 25px 0px; */
  box-sizing: border-box;
  background: white url("https://eswarasai.com/projects/social-login/img/facebook.svg") no-repeat scroll 5px 0px/30px 50px padding-box border-box;
  border: 1px solid #3c5a9a;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 25%;
  border-radius: 3px;
  margin: auto;
  outline: white none 0px;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-homefield-button:hover {
  border-color: #3c5a9a;
  background: #3c5a9a url("https://eswarasai.com/projects/social-login/img/facebook-white.svg") no-repeat scroll 5px 0px/30px 50px padding-box border-box;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease-out;
}

.search-homefield-button span {
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  border: 0px none white;
  outline: white none 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*# sourceMappingURL=main.css.map */
